---
# Only the Sass file needs front matter (the --- lines)
---

@import "minimal-mistakes"; 

/* --- Custom Overrides Below --- */
.header-hero {
  height: 600px;
  min-height: 100vh; 
  display: flex;
  align-items: center; 
  justify-content: center; 
  background-size: cover; 
  background-position: center; 
}
.header-hero .caption {
  font-size: 1.5rem;
}
