---
# Only the dashes, no layout or title
---

@import "minimal-mistakes";

.page__hero,
.page__hero--overlay {
  min-height: 60vh !important;  
  background-size: cover !important;
  background-position: center !important;
}
